body{margin: 0;}
.nav{
    overflow: hidden;
    z-index: 1;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
  
}
.nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 11px 13px;
    text-decoration: none;
    font-size: 30px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 68px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  


  .container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  *{
    box-sizing: border-box;
  }
  .column{

    position: relative;
        top: 40px;
    width: 20%;
      float: left;
      padding: 5px;
    }
    .row::after {
      position: relative;
        top: 20px;
      margin-left:1000px;
      margin-right: auto;
      content: "";
      clear: both;
      display: table;
    }
    @media only screen and (max-width: 600px)
    {
    .column {
    
     display: block;
      margin-left: auto;
      margin-right: auto;
        width:100%;
    padding-right:10%;
    padding-left:10%;
    }
    .row {
      margin-left: auto;
      margin-right: auto;
    
    }
    }

    .main {
      padding: 16px;
      margin-top: 30px;
      height: 1500px; /* Used in this example to enable scrolling */
    }
    .cont{
      text-align: center;
     padding: 5px;
    }